body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("images/homeBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    caret-color: transparent;
    margin: 0;
}

.header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-right: 30%;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    background-color: #074d5c;
    height: 5%;
    justify-content: flex-end;
    align-items: center;
}

.flex > div {
    width: 15%;
    color: white;
    text-align: center;
    font-size: larger;
    cursor: pointer;
}

.flex > div:hover {
    color:aqua;
}

.title {
    text-align: center;
    color: #fff;
    font-size: 5rem;
}

.rules {
    background-image: url('images/homeTableBackground.png');
    padding-top: 1px;
    text-align: center;
    margin: auto;
    width: 45rem;
    height: 30rem;
    border-radius: 5%;
    border: 1px solid #fff;
    font-size: xx-large;
}


.details {
    width: 5%;
    font-size: xx-large;
    text-align: center;
    color: whitesmoke;
    border: 3px solid #074d5c;
}

.details:hover {
    cursor: pointer;
    color:#1733d3;
}

.ruleTable {
    width: 70%;
    height: 20%;
    background-color: #0bafd4;
    background-position: center;
    background-size: cover;
    margin: auto;
    font-size: xx-large;
    overflow-y:auto;
    max-height:20%;
}



.rulePopup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.rulePopup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    background:#0bafd4;
    border: 2px solid #fff;
    transform: translate(-50%, -50%) scale(0);
    width: 50%;
    height: 90%;
    z-index: 1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5%;

}

.rulePopup .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 29px;
    background: #222;
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.rulePopup.active .overlay {
    display:block;
}

.rulePopup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popupTitle {
    color: #fff;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
}

.r-list {
    color: #fff;
    font-size: large;
}

.r-titles {
    color: #fff;
    font-size: x-large;
    font-weight: bold;
}

.flex-rules {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.rule-info {
      position: absolute;
      display: none;
      width: 20%;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.r-list:hover .rule-info {

}
