body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("images/homeBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    text-align: center;
    background-color: #074d5c;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-right: 30%;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    background-color: #074d5c;
    height: 5%;
    justify-content: flex-end;
    align-items: center;
}

.flex > div {
    width: 5%;
    color: white;
    text-align: center;
    font-size: larger;
    line-height: 55px;
    margin: 5px;
    cursor: pointer;
}

.flex > div:hover {
    color:aqua;
}

.background {
    width: 70%;
    height: 50%;
    background-color: #000;
    background-position: center;
    background-size: cover;
    margin-left: 14%;
    font-size: xx-large;
}

.list {
    align-items: center;
    background-color: #074d5c;
}

.r-titles {
    width: 5%;
    font-size: 5rem;
    text-align: center;
    color: whitesmoke;
}

.rules {
    line-height: 3rem;
    width: 5%;
    font-size: xx-large;
    text-align: center;
    color: #fff;
}

.info {
    background-image: url('images/homeTableBackground.png');
    background-size: cover;
}

h1 {
    color: #ffffff;
}
