body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("/collaboration-infinite-time-1/home_page/images/homePageBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    caret-color: transparent;
}

.header {
    text-align: center;
    background-color: #074d5c;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-right: 30%;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    background-color: #074d5c;
    height: 5%;
    justify-content: flex-end;
    align-items: center;
}

.flex > div {
    width: 5%;
    color: white;
    text-align: center;
    font-size: larger;
    line-height: 55px;
    margin: 5px;
    cursor: pointer;
}

.flex > div:hover {
    color:aqua;
}