body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('images/homeBackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    caret-color: transparent;
    margin: 0;
    padding: 0;
}



body .header {
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color:#562567;
    box-sizing: border-box;
}




body #create {
    /* height: 10%;
    width: 22%;
    margin-left: 15%;
    margin-top: 13%;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
    height: 10%;
    width: 22%;    
    margin-left: 15%;
    font-size: 100px */
    margin-top: 13%;
    margin-left: 18%;
    font-size: 4rem;
    text-align: center;
}



body #edit {
    /* height: 10%;
    width: 20%;
    margin-left: 28%;
    margin-top: 13%;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem; */
    margin-top: 13%;
    margin-left: 10%;
    font-size: 4rem;   
}

#mymodal {
    display: none;
    position: fixed;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}



body div #content {
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;

}
/* 
body div .modal-content button {
    float: right;
    font-size: large;
} */


#content button {
    float: right;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
