body {
    background-color: powderblue;
}

div.i {
    text-align: center;
    margin: 5%;
    font-size: larger;
}

div.p1 {
    text-align: center;
    position: absolute;
    border: 1pt solid black;
    border-radius: 5pt;
    background-color: lightgreen;
    width: 10%;
    left: 18%;
    font-size: xx-large;
}

div.p2 {
    text-align: center;
    position: absolute;
    border: 1pt solid black;
    border-radius: 5pt;
    background-color: lightgreen;
    width: 10%;
    right: 17.5%;
    font-size: xx-large;
}

button.rollp1 {
    margin-left: 18%;
    width: 10%;
    height: 8%;
    background-color: #4CAF50;
    font-size: x-large;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

button.skipp1 {
    margin-left: 16%;
    margin-bottom: 5%;
    width: 10%;
    height: 8%;
    background-color: #4CAF50;
    font-size: x-large;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

button.rerollA {
    width: 10%;
    height: 8%;
    background-color: #4CAF50;
    font-size: x-large;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

button.rerollB {
    width: 10%;
    height: 8%;
    background-color: #4CAF50;
    font-size: x-large;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

img.p1 {
    margin: 3%;
    padding-left: 5.5%;
    width: 30%;
    height: 45%;
}

img.p2 {
        margin: 3%;
        padding-left: 18.5%;
        width: 30%;
        height: 45%;
}

