body {
    background-image: url("image/homeTableBackground.png");
    background-repeat: repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 5%;
    font-size: larger;
}


.image-flex  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    /* background-color: white; */
    height: 50%;
}

.image-flex img {
    position: relative;
    margin: auto;
}

.image-flex .but button {
    display: block;
    position: relative;
    background-color: #4CAF50;
    font-size: x-large;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    height: 18%;
    width: 85%;
    left: 10px;
    margin: 10px;
}

.p1-flex {
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    height: 100%;
    width: 20%;
    margin-right: 20%;
}

.p1-flex div {
    position: static;
    text-align: center;
    border: 1pt solid black;
    border-radius: 5pt;
    background-color: lightgreen;
    font-size: xx-large;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.p1-flex button {
    position: static; 
    height: 18%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    background-color: #4CAF50;
    font-size: x-large;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}


.p2-flex {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: green; */
    height: 100%;
    width: 20%;
    
}

.p2-flex div {
    position: static;
    text-align: center;
    border: 1pt solid black;
    border-radius: 5pt;
    background-color: lightgreen;
    font-size: xx-large;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.p2-flex button {
    position: static; 
    height: 18%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    background-color: #4CAF50;
    font-size: x-large;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}    

.image-flex .but2 button {
    display: block;
    position: relative;
    background-color: #4CAF50;
    font-size: x-large;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    height: 18%;
    left: 10px;
    margin: 10px;
    width: 85%;

}

